<a href="https://colab.research.google.com/github/marcilioduarte/data-manipulation-exercises/blob/master/Manipulacao_de_Dados_Ex_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 1

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

In [15]:
import pandas as pd

#### Passo 1. Importando os dados

Carregue os dados salvos no arquivo ***datasets/users_dataset.csv***.\
Esse arquivo possui um conjunto de dados de trabalhadores com 5 colunas separadas pelo símbolo "|" (pipe) e 943 linhas.

Dica: não se esqueça do argumento *sep* quando importar os dados.

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
users = pd.read_csv('/content/drive/MyDrive/PROJETOS/1 - AWARI/Tarefas/11_manipulacao_de_dados/data-manipulation-exercises-master/datasets/users_dataset.csv', sep='|')

#### Passo 2. Mostre as 15 primeiras linhas do dataset.

*Dica: utilize a função head do DataFrame*

In [18]:
users.head(15)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

#### Passo 3. Mostre as 10 últimas linhas do dataset

In [19]:
users.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

#### Passo 4. Qual o número de linhas e colunas do DataFrame?

In [20]:
users.shape[0]

943

In [21]:
print('users.shape:', users.shape, '\n')
print(f'O dataframe possui {users.shape[0]} linhas e {users.shape[1]} colunas.')

users.shape: (943, 5)

O dataframe possui 943 linhas e 5 colunas.

#### Passo 5. Mostre o nome de todas as colunas.

In [22]:
x = 1
print('As colunas tem os seguintes nomes:')
for i in users.columns:
  print(f'\n Coluna {x}:', i)
  x +=1

As colunas tem os seguintes nomes:

 Coluna 1: user_id

 Coluna 2: age

 Coluna 3: gender

 Coluna 4: occupation

 Coluna 5: zip_code

#### Passo 6. Qual o tipo de dado de cada columa?

In [23]:
x=1
for i in users.columns:
  print(f'O datatype da coluna {x} ({i}) é:', users[i].dtype, '\n')
  x+=1

O datatype da coluna 1 (user_id) é: int64

O datatype da coluna 2 (age) é: int64

O datatype da coluna 3 (gender) é: object

O datatype da coluna 4 (occupation) é: object

O datatype da coluna 5 (zip_code) é: object

#### Passo 7. Mostre os dados da coluna *occupation*.

In [24]:
users['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

#### Passo 8. Quantas ocupações diferentes existem neste dataset?

In [25]:
print('Existem', users['occupation'].describe()['unique'], 'ocupações no dataset.\n\nElas estão descritas abaixo, juntamente com a quantidade de usuários em cada categoria:\n\n')
print(users['occupation'].value_counts())

Existem 21 ocupações no dataset.

Elas estão descritas abaixo, juntamente com a quantidade de usuários em cada categoria:


student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

#### Passo 9. Qual a ocupação mais frequente?

In [26]:
print('A ocupação mais frequente com a frequência observada nela é:\n')
print(users['occupation'].value_counts().iloc[:1])

A ocupação mais frequente com a frequência observada nela é:

student    196
Name: occupation, dtype: int64

#### Passo 10. Qual a idade média dos usuários?

In [27]:
print('A idade média dos usuários é:', users['age'].mean().astype(int), 'anos.')

A idade média dos usuários é: 34 anos.

#### Passo 11. Utilize o método describe() para obter diversas informações a respeito do DataFrame.

In [28]:
users.describe().round(2)

       user_id     age
count   943.00  943.00
mean    472.00   34.05
std     272.36   12.19
min       1.00    7.00
25%     236.50   25.00
50%     472.00   31.00
75%     707.50   43.00
max     943.00   73.00

**Parabéns! Você chegou ao fim!**